.todo-card {
  position: relative;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 8px;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
}

.todo-card.pending-update {
  color: gray;
  background-color: #f9f9f9;
}

.todo-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.todo-card-mutable-props {
  display: flex;
  flex-direction: column;
  flex-grow: 8;
  justify-content: space-between;
}

.todo-card-state-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo-card-title {
  font-size: 1.2em;
  cursor: pointer;
}

.todo-card-state-text {
  font-size: 0.8em;
}

.todo-card-state-icon {
  font-size: 1em;
}
  
.todo-card-footer {
  margin-top: 8px;
  font-size: 0.9em;
  color: #666;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.todo-card-created-by {
  font-size: 0.8em;
  color: #666;
}

.todo-card-button-delete {
  font-size: 0.8em;
  cursor: pointer;
}

.todo-card-button-delete-icon {
  color: red;
}

.todo-card-button-delete-text {
  padding-left: 0.3em;
}

.todo-card-button-delete:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
