.username-button {
  font-size: 0.8em;
  cursor: pointer;
  margin-left: 0.8em;
}

.username-submit-button {
  color: green;
}

.username-cancel-button {
  color: red;
}

.username-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
